@import '~bootstrap/scss/bootstrap';

body {
  background-repeat: no-repeat;
}

.main-body {
  display: flex;
}

button:focus {
  outline: 0;
}

::placeholder {
  opacity: 1;
  color: white;
}

form > p {}

li.list-group-item {
  background-color: rgba(61, 40, 40, 0.5);
  height: 50px;
  font-size: 20px;
  color: white;
  font-weight: 500;

}

.nav-bar {
  width: 100vw;
  height: 60px;
  background: #2F4F4F;
  font-size: 100px;
  text-align: center;
  color: white;
  // position: absolute;
}

.content-container {
  height: 77vh;
  width: 36%;
}

.btn {
  font-weight: 600;
}

.btn:hover {
  background-color: red;
}

#main-body {
  heigh: 100vh;
}

.form-inline {
  text-align: center;
}

.messages {
  height: 40px;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-top: 15px;
}

.main-section {
  justify-content: center;
  align-items: center;
  background-color: #454a4f;
}

.input {
  color: white;
  font-size: 16px;
}
